/* |||||||||||||||||||||||||||||||||| INICIO HEADER  ||||||||||||||||||||||||||||||||||*/
.header-container .caja{
border: 1px solid black;
background-color: beige;
width: 400px;
height: 120px;
max-height: 200px;
text-align: center;
margin: 5px;
display: flex;
}

.header-container{
  display: flex;
  justify-content: space-around;
}

.header-container .caja-grande{
  min-width: 300px;
  flex: 2;
  max-width: 700px;
  background-color:aqua ;
  justify-content: center;
  align-items: center;
  display: flex;
} 
.header-container .caja{
  min-width: 300px;
  flex: 1;
  max-width: 500px;
  background-color:lightcoral ;
  justify-content: center;
  align-items: center;
  display: flex;
} 

/* |||||||||||||||||||||||||||||||||| FIN HEADER  ||||||||||||||||||||||||||||||||||*/

/* |||||||||||||||||||||||||||||||||| INICIO BUSQUEDA  ||||||||||||||||||||||||||||||||||*/

.Buscar-Y-Btn{
  display: flex;
}
.Buscar-Y-Btn .buscador  {
  flex: 1;
  min-width: 200px;
  max-width: 900px;
}
.Buscar-Y-Btn .buscador mat-form-field{
  width: 100%;
  box-sizing: content-box;
  flex: 1;
}

.Buscar-Y-Btn .btn-agregar {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}


.Buscar-Y-Btn .btn-agregar button {
  width: 100%;
  box-sizing: content-box;
  flex: 1;
}
/* |||||||||||||||||||||||||||||||||| FIN BUSQUEDA  ||||||||||||||||||||||||||||||||||*/