<mat-sidenav-container class="flex-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
            <span>Dashboard</span>
          <mat-icon fontIcon="space_dashboard"></mat-icon>
          
        </a>
      
        <a mat-list-item routerLink="/agenda">
            <span>Agenda</span>
          <mat-icon fontIcon="event"></mat-icon>
          
        </a>
      
        <a mat-list-item routerLink="/pacientes">
            <span>Pacientes</span>
            <mat-icon fontIcon="person"></mat-icon>
          
        </a>
      
        <a mat-list-item routerLink="/alimentos">
            <span>Alimentos</span>
            <mat-icon fontIcon="restaurant"></mat-icon>
          
        </a>
      
        <a mat-list-item routerLink="/menus">
            <span>Menús</span>
            <mat-icon fontIcon="menu_book"></mat-icon>
          
        </a>
      </mat-nav-list>
      
    </mat-sidenav>
    <mat-sidenav-content>
    
      <!-- Add Content Here -->
       <app-dashboard/>
    </mat-sidenav-content>
  </mat-sidenav-container>